<h1> {{title}} </h1>
<p>{{message}}</p>



<ul>
  <li>
    <a href="/getCars">Get all the minis</a>
  </li>
  <li>
    <a href="">get one! <i> not functional yet</i></a>
  </li>
<ul>

<button id="F55" class="deleteRecord">delete a row!</button>
<button id="F55" class="getButton">run AJAX</button>
<button id="F56" class="getButton">run AJAX</button>
<button id="F58" class="getButton">run AJAX</button>
